{% extends "appointment_sys/base2.html" %}
{% load static %}
{% block content %}
<div class="hero_area">
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand">
            <p>
            <img src="{% static 'images/sign.png' %}" alt="noob-logo" width="40" height="40">
            </p>
          </a>
          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/users/home/"> 我的主页 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/patient_information_sys/">病患信息 </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/appointment_sys/"> 挂号预约 <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""> 普通治疗 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../hospitalization/"> 住院治疗 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../finance/"> 财务管理 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""> 仓库管理 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/logout/"> 退出登录 </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
<section class="book_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col">
          <form method="post" action="/appointment_sys/">
              {% csrf_token %}
            <h4>
              <span class="design_dot"></span>
              预约挂号
            </h4>
            <div class="form-row ">
              <div class="form-group col-lg-4">
                <label>挂号科室</label>
                <select name="register_department" class="form-control wide">
                  <option value="0">普通内科 </option>
                  <option value="1">普通外科 </option>
                  <option value="2">骨科 </option>
                  <option value="3">儿科 </option>
                  <option value="4">妇产科 </option>
                </select>
              </div>
              <div class="form-group col-lg-4">
                <label>挂号时间</label>
                <input type="date" class="form-control" style="width:350px;" name="appointment_time" id="currentdate1" value="">
              </div>
              <div class="form-group col-lg-4">
                <label>挂号类型</label>
                <select name="register_type" class="form-control wide">
                  <option value="1">专家 </option>
                  <option value="0">普通 </option>
                </select>
              </div>
            </div>
            <div class="btn-box">
              <button class="btn" onclick="window.location.href='/appointment_sys/'" type="submit">立即预约</button>
            </div>
            <div>
              <br>
              <label style="color:#CE0000">{{message1}}</label>
            </div>
          </form>
          <form style="margin-top:100px;" method="post" action="/appointment_sys/">
              {% csrf_token %}
              <h4>
              <span class="design_dot"></span>
              现场挂号
              </h4>
              <div class="form-row ">
              <div class="form-group col-lg-4">
                <label>挂号科室</label>
                <select name="register_department" class="form-control wide">
                  <option value="0">普通内科 </option>
                  <option value="1">普通外科 </option>
                  <option value="2">骨科 </option>
                  <option value="3">儿科 </option>
                  <option value="4">妇产科 </option>
                </select>
              </div>
              <div class="form-group col-lg-4">
                <label>挂号类型</label>
                <select name="register_type" class="form-control wide">
                  <option value="1">专家 </option>
                  <option value="0">普通 </option>
                </select>
              </div>
            </div>
              <div class="btn-box">
              <button class="btn" onclick="window.location.href='/appointment_sys/'" type="submit">立即挂号</button>
            </div>
            <div>
              <br>
              <label style="color:#CE0000">{{message2}}</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<script type="text/javascript" src="{% static 'js/get_currentdate.js' %}"></script>
{% endblock %}