{% extends "patient_information_sys/base2.html" %}
{% load static %}
{% block content %}
<div class="hero_area" style="margin-bottom:-20px">
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand">
            <p>
            <img src="{% static 'images/sign.png' %}" alt="noob-logo" width="40" height="40">
            </p>
          </a>
          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/users/home/"> 我的主页 </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/patient_information_sys/">病患信息 <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/appointment_sys/"> 挂号预约 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""> 普通治疗 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../hospitalization/"> 住院治疗 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../finance/"> 财务管理 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""> 仓库管理 </a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="/users/logout/"> 退出登录 </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
<section class="book_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col">
          <form>
            <h4>
              <span class="design_dot"></span>
              我是医生
            </h4>
            <div class="form-row ">
              <div class="form-group col-lg-4">
                <label>病人ID </label>
                <input type="text" class="form-control" name="id">
              </div>
              <div class="form-group col-lg-4">
                <label>信息类型</label>
                <select name="" class="form-control wide">
                  <option>挂号信息 </option>
                  <option>处方信息 </option>
                  <option>检验信息 </option>
                  <option>手术信息 </option>
                  <option>取药信息 </option>
                  <option>住院信息 </option>
                  <option>查房信息 </option>
                </select>
              </div>
              <div class="form-group col-lg-4">
                <label>查询时间</label>
                <select class="form-control wide">
                  <option>全部信息 </option>
                  <option>2021 </option>
                  <option>2020 </option>
                </select>
              </div>
            </div>
            <div class="btn-box">
              <button class="btn ">立即查询</button>
            </div>
          </form>
          <form style="margin-top:100px;">
              <h4>
              <span class="design_dot"></span>
              我是病人
              </h4>
              <div align="left" style="float:left;margin-left:200px">
                  <button onclick="window.location.href='/patient_information_sys/modify/'" type="button" class="btn ">修改个人信息</button>
              </div>
              <div align="right" style="margin-right:200px">
                  <button onclick="window.location.href=''" type="button" class="btn ">查询治疗信息</button>
              </div>
          </form>>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}