<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>病患信息系统主页</title>
    <style>
    .div-c{ float:left;width:49%;border:1px solid #000}
    .div-d{ float:right;width:49%;border:1px solid #000}
    </style>
</head>
<body>


{% if request.session.user_attr == 0 or request.session.user_attr == 1 %}
    <div class="div-c">
        <p>我是病人</p>
        <p><a href="/patient_information_sys/modify/">修改个人信息</a></p>
        <p><a href="/patient_information_sys/search_for_patient/">查询治疗信息</a></p>
    </div>
    <div class="div-d">
        <p>我是医生</p>
        <p><a href="/patient_information_sys/search_for_doctor_enter/">查询患者信息</a></p>
    </div>
{% elif request.session.user_attr == 2 %}
    <p>你没有权限访问此系统</p>
    <p><a href="/users/index/">返回首页</a></p>
{% elif request.session.user_attr == 3 %}
    <p>你没有权限访问此系统</p>
    <p><a href="/users/index/">返回首页</a></p>
{% elif request.session.user_attr == 4 %}
    <p>你没有权限访问此系统</p>
    <p><a href="/users/index/">返回首页</a></p>
{% endif %}

</body>
</html>