<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询信息选择</title>
</head>
<body>

<a href="/patient_information_sys/register_information/">挂号信息</a>
<a href="/patient_information_sys/prescription_information/">处方信息</a>
<a href="/patient_information_sys/inspection_information/">检验信息</a>
<a href="/patient_information_sys/operation_information/">手术信息</a>
<a href="/patient_information_sys/medicine_information/">取药信息</a>
<a href="/patient_information_sys/hospitalized_information/">住院信息</a>
<a href="/patient_information_sys/rounds_information/">查房信息</a>

</body>
</html>