{% extends "users/base.html" %}
{% block content %}
<section class="book_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col">
          <form style="margin-top:70px;margin-bottom:70px;" method="post" action="/users/login/">
            {% csrf_token %}
            <h4>
              <span class="design_dot"></span>
              请输入您的帐号和密码
            </h4>
              <div class="form-group col-lg-4">
                <label>帐号：</label>
                <input type="text" class="form-control" style="width:800px;" name="username">
              </div>
              <div class="form-group col-lg-4">
                <label>密码：</label>
                <input type="password" class="form-control" style="width:800px;" name="password">
              </div>
              <div class="form-group col-lg-4" align="left" style="float:left">
                <label><font color="#CE0000" size="4">{{message}}</font></label>
              </div>
              <div align="right">
                  <button onclick="window.location.href='/home.html'" type="submit" class="btn ">登录</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}