{% extends "users/base.html" %}
{% block content %}
<section class="book_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col">
          <form style="margin-top:70px;margin-bottom:70px" method="post" action="/users/register/">
            {% csrf_token %}
            <h4>
              <span class="design_dot"></span>
              请输入您的注册信息，您的账号是：{{message}}
            </h4>
            <div class="form-row ">
              <div class="form-group col-lg-4">
                <label>姓名：</label>
                <input type="text" class="form-control" name="name">
              </div>
              <div class="form-group col-lg-4">
                <label>性别：</label>
                <select class="form-control wide" name="gender">
                  <option value="0">男</option>
                  <option value="1">女</option>
                </select>
              </div>
              <div class="form-group col-lg-4">
                <label>身份证号：<font color="#CE0000">{{message1}}</font></label>
                <input type="text" class="form-control" name="id_number">
              </div>
              <div class="form-group col-lg-4">
                <label>联系方式：<font color="#CE0000">{{message2}}</font></label>
                <input type="text" class="form-control" name="phone">
              </div>
              <div class="form-group col-lg-4">
                <label>紧急联系人联系方式：<font color="#CE0000">{{message3}}</font></label>
                <input type="text" class="form-control" name="emergency_contact">
              </div>
              <div class="form-group col-lg-4">
                <label>家庭住址：</label>
                <input type="text" class="form-control" name="address">
              </div>
            </div>
              <div class="form-group col-lg-4" style="margin-left:-16px">
                <label>请输入用户名：<font color="#CE0000">{{message4}}</font></label>
                <input type="text" class="form-control" style="width:800px;" name="username">
              </div>
              <div class="form-group col-lg-4" style="margin-left:-16px">
                <label>请输入密码：</label>
                <input type="password" class="form-control" style="width:800px;" name="password1">
              </div>
              <div class="form-group col-lg-4" style="margin-left:-16px">
                <label>请再次输入密码：<font color="#CE0000">{{message5}}</font></label>
                <input type="password" class="form-control" style="width:800px;" name="password2">
              </div>
              <div align="left" style="float:left;">
                  <button onclick="window.location.href=''" type="submit" class="btn ">注册</button>
              </div>
              <div align="right">
                  <button onclick="window.location.href='../login/'" type="button" class="btn ">前往登录</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}