{% extends "hospitalization_sys/base2.html" %}
{% load static %}
{% block content %}
<style>
.table8_11 table {
	width:100%;
	margin:15px 0
}
.table8_11 th {
	background-color:#339999;
	background:-o-linear-gradient(90deg, #339999, #a7e2ce);
	background:-moz-linear-gradient( center top, #339999 5%, #a7e2ce 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #339999), color-stop(1, #a7e2ce) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#339999', endColorstr='#a7e2ce');
	color:#FFFFFF
}
.table8_11,.table8_11 th,.table8_11 td
{
	font-size:1em;
	text-align:center;
	padding:8px;
	border:1px solid #efefef;
	border-collapse:collapse
}
.table8_11 tr:nth-child(even){
	background-color:#fdfdfd;
}
</style>
<div class="hero_area" style="margin-bottom:-100px">
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand">
            <p>
            <img src="{% static 'images/sign.png' %}" alt="noob-logo" width="40" height="40">
            </p>
          </a>
          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/users/home/"> 我的主页 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/patient_information_sys/">病患信息 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/appointment_sys/"> 挂号预约 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""> 普通治疗 </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/hospitalization_sys/"> 住院治疗 <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../finance/"> 财务管理 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""> 仓库管理 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/logout/"> 退出登录 </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <section class="book_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col" align="center">
          <div style="float:left;width:565px">
            <form style="width:90%;margin-left:0px" method="post" action="{% url 'hospitalization_sys:search_discharge' %}">
                {% csrf_token %}
                <h4>
                  <span class="design_dot"></span>
                  办理出院
                </h4>
                <HR style="FILTER:alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#339999 SIZE=3>
                <div style="width:650px">
                <div class="form-group col-lg-4" align="left" style="float:left;">
                <label>病人ID</label>
                <select class="form-control wide" style="width:140px" name="patient_id">
                    {% for p in patient_id_0 %}
              			<option>{{ p.patient_id_id }}</option>
                    {%endfor%}
                </select>
                </div>
                <div class="form-group col-lg-4" align="left" style="margin-left:-30px">
                    <label>出院日期</label>
                    <input type="datetime-local" class="form-control" style="width:200px" name="date">
                </div>
                </div>
                <HR style="FILTER:alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#339999 SIZE=3>
                <div  align="center">
                    <label>医嘱</label>
                    <input type="text" class="form-control" style="width: 95%;height:100px;" name="order">
                </div>
                <div align="left" style="float:left;margin-left:10px">
                  <button onclick="window.location.href='/hospitalization_sys/'" type="button" class="btn ">返回</button>
              </div>
                <div align="right" style="margin-right:10px">
                  <button onclick="window.location.href='/hospitalization_sys/search_discharge/'" type="submit" class="btn " name="submit">提交</button>
                </div>
            </form>
          </div>
          <div style="float:left;width:565px">
            <form style="width:90%;margin-right:0px">
                <h4>
                  <span class="design_dot"></span>
                  处理出院申请
                </h4>
                <HR style="FILTER:alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#339999 SIZE=3>
                <div align="center">
                <table class=table8_11 width="100%">
                  <tr>
                      <th>病人编号</th><th>病人姓名</th><th>操作处理</th>
                  </tr>
                  {% for p in patient_id_2 %}
                  <tr>
                      <td>{{ p.patient_id_id }}</td><td>{{ p.patient_id }}</td><td>
                      <a href="{% url 'hospitalization_sys:process_apply_discharge' %}?id={{ p.patient_id_id }}">
                          <span style="color: #7B7B7B; ">查看详情</span>
                      </a>
                      </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}